.App {
  max-width: 600px;
  margin: 1em auto;
  padding: 0 1em;
}

.todos-list {
  list-style: none;
  padding-left: 0;
}

.todos-list input[type=checkbox] {
  margin-right: .5rem;
}

.todos-list input[type=checkbox]:checked + label {
  text-decoration: line-through;
}

.add-todo-form {
  display: flex;
}

.add-todo-form input {
  width: 80%;
}
